@use "../Abstracts" as color;

.cocktail-card {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.875rem;
  padding: 0.5rem 0.875rem;
  border-radius: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  @media (min-width: 640px) {
    width: 33.125rem;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem;
  }

  .details {
    display: flex;
    flex-direction: column;
    width: inherit;

    .ingredients {
      display: flex;
      flex-wrap: wrap;
      width: inherit;
      border-bottom: 0.125rem solid color.$primaryBorder;
      padding-bottom: 0.875rem;
    }

    p {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
      padding-right: 0.5rem;

      span {
        font-weight: bold;
      }
    }
  }
}
