.cocktail {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: inherit;

  .title {
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-bottom: 2px solid #5a5a5a;
    margin-bottom: 0.875rem;
  }

  @media (min-width: 640px) {
    width: 24rem;
  }
}
